.project
.projectile
/node_modules/*
/dist/*
*.DS_Store
.idea
dist
libraries
*.demo.js
config/mock.js
start.sh
output.log
coverage
src
gulpfile.js
eslint.sh
test
.babelrc
.eslintignore
.eslintrc.json
.gitignore
.npmignore

