/**
 * @file loading样式文件
 * 样式来自https://ng.fetch.design/components/spin/zh
 * @author mengqingchun002@ke.com
 * @date 2019/3/28 07:07
 */

.fetch-spin-loading {
    &.fetch-spin-nested-loading {
        position: relative;
    }

    .fetch-spin-container {
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: #f0f0f0;
        opacity: 0.5;
    }

    .fetch-spin {
        font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
            'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol';
        font-size: 14px;
        font-varifetch: tabular-nums;
        line-height: 1.5;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        color: #1890ff;
        vertical-align: middle;
        text-align: center;
        opacity: 0;
        position: absolute;
        transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
            -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        display: none;
    }

    .fetch-spin-spinning {
        opacity: 1;
        position: static;
        display: inline-block;
        top: 30%;
        position: absolute;
        margin-left: -23px;
    }

    .fetch-spin-nested-loading {
        > div {
            .fetch-spin {
                display: block;
                /* position: absolute; */
                height: 100%;
                max-height: 400px;
                width: 100%;
                z-index: 4;
            }
        }
    }

    .fetch-spin-nested-loading > div > .fetch-spin {
        display: block;
        /* position: absolute; */
        height: 100%;
        max-height: 400px;
        width: 100%;
        z-index: 4;
    }

    .fetch-spin-nested-loading > div > .fetch-spin.fetch-spin-show-text .fetch-spin-dot {
        /* margin-top: -20px; */
    }

    .fetch-spin-nested-loading > div > .fetch-spin .fetch-spin-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px;
    }

    .fetch-spin-dot-spin {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation: 1.2s linear infinite fetchRotate;
        animation: 1.2s linear infinite fetchRotate;
    }

    .fetch-spin-dot {
        position: relative;
        display: inline-block;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    .fetch-spin-dot i:nth-child(1) {
        left: 0;
        top: 0;
    }

    .fetch-spin-dot i:nth-child(2) {
        right: 0;
        top: 0;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fetch-spin-dot i:nth-child(3) {
        right: 0;
        bottom: 0;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fetch-spin-dot i:nth-child(4) {
        left: 0;
        bottom: 0;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }

    .fetch-spin-dot i {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: #1890ff;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        display: block;
        position: absolute;
        opacity: 0.3;
        -webkit-animation: 1s linear infinite alternate fetchSpinMove;
        animation: 1s linear infinite alternate fetchSpinMove;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .fetch-spin-nested-loading > div > .fetch-spin .fetch-spin-text {
        position: absolute;
        top: 50%;
        width: 100%;
        padding-top: 5px;
        text-shadow: 0 1px 2px #fff;
    }

    .fetch-spin.fetch-spin-show-text .fetch-spin-text {
        display: block;
    }
}

@keyframes fetchSpinMove {
    to {
        opacity: 1;
    }
}

@keyframes fetchRotate {
    to {
        transform: rotate(405deg);
    }
}
